*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

:root {
  /* ### Primary */

  --scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --lizard-gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);

  /* ### Neutral */

  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);

  /* ### Background */

  --radial-gradient: hsl(214, 47%, 23%), hsl(238, 48%, 15%);
}

body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(at top, var(--radial-gradient));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  overflow: hidden;
}

body > header {
  width: min(50%, 95vw);
  margin-top: 2rem;
  min-width: fit-content;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border: 3px solid var(--header-outline);
  border-radius: 20px;
}

header h1 {
  font-size: 7vmin;
}

body > footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

h1 {
  font-size: 65px;
}

h2 {
  text-transform: uppercase;
  font-size: 5vmin;
  line-height: 0.8;
}

h3 {
  text-transform: uppercase;
  font-size: 32px;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 24px;
  font-weight: 600;
}

span {
  text-transform: uppercase;
}

button {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
}

.score {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5vmin;
  border-radius: 10px;
}

.score span {
  color: var(--score-text);
  font-size: 2vmin;
  letter-spacing: 0.1em;
}

.score h1 {
  color: var(--dark-text);
}

.rules {
  margin-right: 40px;
  margin-bottom: 40px;
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 2vmin;
  letter-spacing: 0.2em;
  color: white;
  background-color: transparent;
  border: 3px solid var(--header-outline);
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.rules:hover,
.rules:focus-visible {
  border-color: white;
}

main {
  margin-top: 50px;
  width: min(70vh, 95vw);
  aspect-ratio: 1;
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
}

.rock,
.paper,
.scissors,
.house-pick {
  aspect-ratio: 1;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
}

.rock:hover,
.rock:focus-visible,
.paper:hover,
.paper:focus-visible,
.scissors:hover,
.scissors:focus-visible {
  filter: brightness(0.75);
}

.paper {
  width: 55%;
  --background: var(--paper-gradient);
  --image: url(./images/icon-paper.svg);
  --shadow: #2945c2;
  grid-column: 1 / 2;
}

.scissors {
  width: 55%;
  --background: var(--scissors-gradient);
  --image: url(./images/icon-scissors.svg);
  --shadow: #c76c1b;
  grid-column: 2 / 3;
}

.rock {
  width: 27.5%;
  --background: var(--rock-gradient);
  --image: url(./images/icon-rock.svg);
  --shadow: #9e1635;
  grid-column: span 2;
}

.rock > div,
.paper > div,
.scissors > div {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 100%;
  -webkit-box-shadow: inset 0px 8px #bbc0d3;
  box-shadow: inset 0px 8px #bbc0d3;
  background-color: #e6e6e6;
  background-image: var(--image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rock > div::before,
.paper > div::before,
.scissors > div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 30%);
  height: calc(100% + 30%);
  background: radial-gradient(var(--background));
  -webkit-box-shadow: 0 10px var(--shadow);
  box-shadow: 0 5px var(--shadow), inset 0 -5px var(--shadow);
  z-index: -1;
  border-radius: 100%;
}

.lines-container {
  position: absolute;
  inset: 0 0 0 0;
}

.line {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
}

.line > line {
  stroke-width: 20px;
  stroke: rgb(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  inset: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 100;
}

.rules-modal {
  background-color: white;
  color: var(--dark-text);
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 35px 45px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.rules-modal > header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.rules-modal .close-btn {
  position: absolute;
  top: 45px;
  right: 45px;
  cursor: pointer;
}

.rules-modal .close-btn:hover path,
.rules-modal .close-btn:focus-visible path {
  opacity: 1;
}

main.step {
  width: calc(max(500px, 50%) - 5%);
  max-width: 1200px;
}

main.restart {
  width: calc(max(500px, 50%) + 25%);
  max-width: 1200px;
  grid-template-columns: repeat(3, 1fr);
}

.restart .your-pick,
.restart .house-pick {
  justify-self: center;
}

.your-pick {
  grid-column-start: 1;
  grid-column: span 1;
  grid-row: 1 / 3;
  justify-self: baseline;
  pointer-events: none;
  cursor: default;
}

.your-pick::before,
.house-pick::before {
  content: "You picked";
  position: absolute;
  width: 200%;
  top: -45%;
  left: -50%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.house-pick::before {
  content: "the house picked";
}

.house-pick {
  grid-column-end: -1;
  grid-column: span 1;
  grid-row: span 2;
  justify-self: end;
  pointer-events: none;
  cursor: default;
}

.house-pick,
.your-pick {
  width: 70%;
  max-width: 250px;
}

.house-pick.empty {
  background-color: rgb(0, 0, 0, 0.2);
}

.win-shadow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  z-index: -100;
  -webkit-box-shadow: 5px 5px 50px 30px rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 50px 30px rgba(255, 255, 255, 0.5);
}

.play-again {
  width: fit-content;
  min-width: 150px;
  grid-row: span 2;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-again h1 {
  font-size: 56px;
  font-weight: 600;
}

.play-again button {
  margin-top: 20px;
  text-transform: uppercase;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  color: var(--dark-text);
  letter-spacing: 0.1em;
  font-weight: 600;
  padding-block: 15px;
  font-size: 16px;
  cursor: pointer;
}

.play-again button:hover {
  color: hsl(349, 71%, 52%);
}

.hide {
  display: none;
}

@media screen and (max-width: 700px) {
  body > header {
    width: 80vw;
  }
  body > footer {
    justify-content: center;
  }
  .rules-modal {
    padding: 100px 45px;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .rules-modal-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
  .rules-modal header {
    justify-content: center;
  }
  .rules-modal .close-btn {
    left: 50%;
    transform: translateX(-50%);
    right: unset;
    top: unset;
    bottom: 110px;
  }
  .rules {
    margin-right: 0;
  }
  .your-pick::before,
  .house-pick::before {
    top: 145%;
    font-size: 18px;
  }
  main {
    margin-top: 0;
  }
  main.restart,
  main.step {
    width: 95vw;
    max-width: 95vw;
    min-width: fit-content;
    grid-template-columns: repeat(2, 50%);
  }
  .your-pick {
    width: 60%;
    grid-row: 1 / 2;
  }
  .house-pick {
    width: 60%;
    grid-row: 1 / 2;
    grid-column-end: -1;
  }
  .your-pick,
  .house-pick {
    width: 50%;
    justify-self: center;
  }
  .play-again {
    grid-row: 2 / 3;
    grid-column: span 3;
    width: 100%;
  }
  .play-again h1 {
    font-size: 70px;
  }
  .play-again button {
    font-size: 20px;
    width: max-content;
    min-width: 250px;
    padding-inline: 40px;
  }
}
